<!DOCTYPE html>
<head>
    <title>Async Inn</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Async Inn - Add Amenities to Room</h1>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/Hotels" class="navbar-brand">Hotel</a>
            <a href="/Room" class="navbar-brand">Rooms</a>
            <a href="/Amenities" class="navbar-brand">Amenities</a>
            <a href="/AmenitiesToRoom" class="navbar-brand">Add Amenities to Room</a>
            <a href="/RoomToHotel" class="navbar-brand">Add Room to Hotel</a>
        </nav>
    </header>
</body>
