<!DOCTYPE html>
<head>
    <title>Async Inn</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to Async Inn</h1>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/Hotels" class="navbar-brand">Hotel</a>
            <a href="/Rooms" class="navbar-brand">Rooms</a>
            <a href="/Amenities" class="navbar-brand">Amenities</a>
        </nav>
    </header>
</body>
